@import '../../styles/variables';

.sidebar-toggle {
  display: none;
  position: fixed;
  top: 15px;
  left: 15px;
  background: none;
  border: none;
  z-index: 1100;
  cursor: pointer;

  svg {
    width: 24px;
    height: 24px;
    fill: $primary-font-blue;
  }

  @media (max-width: 768px) {
    display: block;
  }
}

.sidebar {
  width: 283px;
  background-color: #FFFFFF;
  padding: 30px;
  position: fixed;
  top: 100px;
  left: 0;
  padding-bottom: 120px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  font-family: $font-family;
  transition: transform 0.3s ease;
  scrollbar-width: none;
  -ms-overflow-style: none;

  @media (max-width: 768px) {
    width: 100%;
    padding: 20px;
    top: 0;
    height: 100%;
    padding-bottom: 60px;
    z-index: 1000;
    transform: translateX(-100%);
  }

  &.closed {
    @media (max-width: 768px) {
      transform: translateX(-100%);
    }
  }

  &.open {
    transform: translateX(0);
  }

  @media (max-width: 768px) {
    width: 100%;
    padding: 20px;
    top: 0;
    height: 100%;
    padding-bottom: 60px;
    z-index: 1000;
  }

  h2 {
    font-size: 16px;
    color: $primary-gray;
    margin-bottom: 10px;
  }

  .nav-group {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    color: $primary-gray;
    margin-bottom: 14px;
    margin-top: 34px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 20px;

      a {
        text-decoration: none;
        color: $primary-font-blue;
        display: flex;
        align-items: center;

        &.active {
          font-weight: 400;
          background-color: rgba($primary-teal, 0.06);
          color: $primary-font-blue;
          height: 2.5rem;
          width: 100vw;
        }

        &.non-active {
          font-weight: 400;
          opacity: .6;
          color: $primary-font-blue;
        }

        svg {
          margin-right: 10px;
        }

        span {
          font-size: 16px;
          margin-right: 10px;
        }
      }

      &.switch-organization {
        margin-bottom: 44px;
        color: $primary-font-blue;

        a {
          opacity: 1;
        }
      }

      &.dashboard {
        a {
          margin-bottom: 18px;
        }
      }
    }
  }
}
