@import '../../styles/variables';

nav {
  width: 283px;
  background-color: #FFFFFF;
  padding: 30px;
  position: fixed;
  top: 100px;
  padding-bottom: 120px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  font-family: $font-family;

  scrollbar-width: none;
  -ms-overflow-style: none;

nav::-webkit-scrollbar {
  display: none; 
}

  h2 {
    font-size: 16px;
    color: $primary-gray;
    margin-bottom: 10px;
  }

  .nav-group {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    color: $primary-gray;
    margin-bottom: 14px;
    margin-top: 34px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 20px;

      a {
        text-decoration: none;
        color: $primary-font-blue;
        display: flex;
        align-items: center;
        

        &.active {
          font-weight: 400;
          background-color: rgba($primary-teal, 0.06);
          color: $primary-font-blue;
          height: 2.5rem;
          width: 100vw;
        }

        &.non-active {
          font-weight: 400;
          opacity: .6;
          color: $primary-font-blue;
        }

        svg {
          margin-right: 10px;
        }

        span {
          font-size: 16px;
          margin-right: 10px;
        }
      }

    &.switch-organization {
        margin-bottom: 44px;
          color: $primary-font-blue;
        
          a {
            opacity: 1;     
          }
      }

      &.dashboard {
        a {
        margin-bottom: 18px; 
              
        }
      }
    }
  }
}