$colors: (
  teal: (
    100: #39CDCC,
  ),
  red: (
    100: #E4033B,
  ),
  green: (
    100: #39CD62,
  ),
  gray: (
    100: #545F7D,
  ),
);

$fonts: (
  heading: 'Work Sans, sans-serif',
  body: 'Work Sans, sans-serif',
);
