@import './variables';
@import './global';
@import '../layouts/AppLayout/AppSidebar.scss';
@import '../layouts/LandingLayout/LandingNavbar.scss';
@import "../layouts/AppLayout/MainContent.scss";


.App {
  display: flex;
  background-color: #f8f9fa;
  

  .content {
    margin-left: 200px;
    margin-top: 60px;
    padding: 20px;
    width: calc(100% - 200px);
    height: calc(100% - 60px);
    overflow-y: auto;

  }
}