@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');


@import './variables';
@import './global';
@import '../layouts/AppLayout/AppSidebar.scss';
@import '../layouts/LandingLayout/LandingNavbar.scss';
@import "../layouts/AppLayout/MainContent.scss";


.App {
  display: flex;
  background-color: #f8f9fa;

  

  .content {
    // margin-left: 200px;
    margin-top: 60px;
    padding: 20px;
    width: calc(100% - 200px);
    height: calc(100% - 60px);
    overflow-y: auto;

  }
}

.authenticated-layout {
  display: flex;
  height: 100vh;

  main {
    flex: 1;
    padding: 20px;
  }
}

.unauthenticated-layout {
  display: flex;
  // justify-content: center;
  padding: 0 2rem;
  align-items: center;
  height: 100vh;
  width: 100%;
}