@import './variables';
@import './global';
@import '../layouts/AppLayout/AppSidebar.scss';
@import '../layouts/LandingLayout/LandingNavbar.scss';


.App {
  display: flex;

  .content {
    margin-left: 200px;
    margin-top: 60px;
    padding: 20px;
    width: calc(100% - 200px);
    height: calc(100% - 60px);
    overflow-y: auto;
  }
}