@import "./variables";

.user-details-page {
  padding: 20px;

  .user-info-tabs {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .user-info {
      margin-bottom: 20px;
      h2 {
        font-size: 24px;
        margin-bottom: 5px;
      }
      p {
        color: $primary-gray;
      }
    }

    .tabs {
      display: flex;
      gap: 20px;
      overflow-x: auto;
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
      margin-bottom: 20px;

      .tab {
        padding: 10px 20px;
        border: none;
        background-color: transparent;
        color: $primary-gray;
        font-size: 16px;
        cursor: pointer;
        transition: color 0.3s ease;

        &.active {
          color: $primary-font-blue;
          font-weight: bold;
        }

        &:hover {
          color: $primary-font-blue;
        }
      }
    }
  }

  .user-details-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .user-details-sections {
      display: flex;
      flex-direction: column;

     
    }
  }
}
