@import "../styles/variables";

.users-page {
  padding: 60px 20px;
  background-color: #f8f9fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.users-page h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-left: .5rem;
  color: $primary-font-blue;
}

