@import "../../styles/variables";

.sign-in {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  &__left,
  &__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 50%;
  }

  &__left {
    background-color: #ffffff;
    padding: 0 2.5rem;
    gap: 7rem;
    border-right: 2px solid rgba(hsl(0, 0%, 97%), .9);
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff; 
    width: 50%;
    margin-left: auto; 
    padding: 0 2rem; 
    align-items: center;
    padding-top: 9.25rem;

  }
}
