.business-stats {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap; 
}

.stats-card {
  border: 1px solid #ccc;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-card-icon {
  margin-bottom: 10px;
}

.stats-card-title {
  font-size: 1.2em;
  margin-bottom: 5px;
  line-height: 16.42px;
}

.stats-card-value {
  font-size: 2em;
  font-weight: bold;
}
