@import "../styles/variables";

.coming-soon-page {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .center-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    .content-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 450px;
      margin: 0 auto;

      .coming-soon-image {
        width: 500px;
        height: 350px;
        
      }

      .coming-soon-heading {
        text-align: center;
        font-weight: 500;
        color: $primary-font-blue;
        margin-bottom: 1rem;
      }

      .coming-soon-text {
        font-size: 1rem;
        line-height: 1.5;
        color: $primary-gray;
        text-align: center;
        margin-bottom: 2rem;
      }

      .pill-button {
        padding: 1rem 2rem;
        height: 48px;
        width: 100%;
        max-width: 200px;
        background: $primary-teal;
        color: white;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        text-align: center;
        font-size: 1rem;
        transition: background 0.3s;

        &:hover {
          background: rgba($primary-teal, 0.7);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .coming-soon-page {
  padding: 1rem;

    .center-container {
    position: relative;

      .content-container {
      padding: 1rem;
      .coming-soon-image {
      width: 100%;
        max-width: 500px;
        height: auto;
      }
        .coming-soon-heading {
          font-size: 1.25rem;
        }

        .coming-soon-text {
          font-size: 0.875rem;
        padding: 0 1rem;

        }

      .pill-button {
        padding: .75rem 1.5rem;
        height: 36px;
        font-size: .75rem;
      }
      }
    }
  }
}

@media (max-width: 480px) {
  .coming-soon-page {
    .center-container {
      .content-container {
        .coming-soon-heading {
          font-size: 1rem;
        }

        .coming-soon-text {
          font-size: 0.75rem;
        }

        .pill-button {
          padding: 0.75rem 1.5rem;
        }
      }
    }
  }
}