@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');


@import './variables';
@import './global';
@import '../layouts/AppLayout/AppSidebar.scss';
@import '../layouts/LandingLayout/LandingNavbar.scss';
@import "../layouts/AppLayout/MainContent.scss";


.App {
  display: flex;
  background-color: #f8f9fa;

  

  .content {
    margin-top: 60px;
    padding: 20px;
    width: calc(100% - 200px);
    height: calc(100% - 60px);
    overflow-y: auto;

  }
}

.authenticated-layout {
  display: flex;
  background-color: #f8f9fa;


 
}

.unauthenticated-layout {
  display: flex;
  padding: 0 2rem;
  align-items: center;
  height: 100vh;
  width: 100%;

  @media (max-width: 768px) {
    display: block;
  padding: 0;

  }
}


.app-container {
  display: flex;
  transition: all 0.3s ease;

  &.sidebar-open {
    .main-content {
      width: 100%;
      transition: margin-left 0.3s ease;
    
      @media (max-width: 768px) {
        margin-left: 0;
      }
    }
  }

 
  &.sidebar-closed {
    .main-content {
      margin-left: 0;
      width: 100%;
    }
  }
}

.sidebar-toggle {
  display: none;
  position: fixed;
  top: 15px;
  left: 15px;
  background: none;
  border: none;
  z-index: 1100;
  cursor: pointer;

  svg {
    width: 24px;
    height: 24px;
    fill: $primary-font-blue;
  }

  @media (max-width: 768px) {
    display: block;
  }
}



.main-content {
  width: 100%;
  transition: margin-left 0.3s ease;

  @media (max-width: 768px) {
    margin-left: 0;
  }
}
