@import "../styles/variables";

.users-page {
  padding: 90px 60px;
  background-color: #f8f9fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 40px;
    margin-left: 0.5rem;
    color: $primary-font-blue;
  }

  @media (max-width: 768px) {
    padding: 90px 35px;

    h1 {
      font-size: 20px;
      margin-bottom: 20px;
      margin-left: 0;
    }
  }

  @media (max-width: 480px) {
    padding: 90px 30px;

    h1 {
      font-size: 18px;
      margin-bottom: 15px;
      margin-left: 0;
    }
  }
}
