@import "../../../../styles/variables";

.filter-dropdown {
  position: absolute;
  background: #ffffff;
  border: 1px solid #ffffff;
  width: 16.875rem;
  margin-top: 14px;
  padding: 28px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  .filter-dropdown-item {
    margin-bottom: 1.25rem;

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: 500;
      font-size: 14px;
      text-transform: capitalize;
      color: $primary-gray;
    }

    input {
      width: 100%;
      padding: .75rem;
      border: 1px solid rgba($primary-font-blue, 0.2);
      border-radius: 8px;
      color: $primary-gray;
      font-family: $font-family-work-sans;
      font-size: 14px;
      text-transform: capitalize;

      &::placeholder {
        color: rgba($primary-gray, 0.5);

      }
    }
  }

  .filter-dropdown-actions {
    display: flex;
    justify-content: space-between;
    // padding-bottom: 1.75rem;

    button {
      padding: 10px 20px;
      background-color: #ffffff; 
      border: 1px solid $primary-gray;
      border-radius: 8px;
      width: 45%;
      cursor: pointer;

      &:last-child {
        background-color: $primary-teal; 
        color: white; 
        border-color: $primary-teal; 
      }
    }
  }
}
