@import "../../../../styles//variables";

.tabs {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  overflow-x: auto;
 

  .tab {
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    color: $primary-gray;
    font-size: 16px;
    cursor: pointer;

    &.active {
      color: $primary-teal;
      font-weight: 400;
      
    }

    &:hover {
      color: $primary-font-blue;
    }
  }
}